body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f9f9f9;
}

header h1 a {
    text-decoration: none;
    color: darkblue;
}

article {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

a {
    color: darkred;
}
